@import "../../styles/vars";

@mixin common-styles {
  border: 2px solid #ececec;
  border-radius: 5px;
  padding: 0.5rem 0.75rem;
}

.form {
  height: fit-content;
  flex: 1 1 45%;
  max-width: 45%;
  background-color: #fff;
  border-radius: 5px;
  padding: 1.75rem 2.5rem 1rem 1.75rem;

  &--title {
    font-size: 30px;
    font-weight: bold;
    color: $blue;
  }

  &--error {
    color: red;
    font-weight: bold;
    padding: 0 0.75rem;
    font-size: 10px;
    position: absolute;
    top: 4rem;
  }

  &__btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 0.5rem;

    &--clear {
      all: unset;
      color: $blue;
      font-weight: bold;
      cursor: pointer;
    }

    &--delete {
      all: unset;
      background-color: red;
      color: #fff;
      padding: 0.5rem 1rem;
      text-align: center;
      border-radius: 3px;
      font-weight: bold;
      cursor: pointer;
    }

    &--submit {
      all: unset;
      background-color: $blue;
      color: #fff;
      padding: 0.5rem 1rem;
      text-align: center;
      border-radius: 3px;
      cursor: pointer;
    }
  }

  &__wrapper {
    margin-top: 1.5rem;

    &--row {
      display: flex;
      align-items: center;
      justify-content: space-between;
      .form__item {
        margin-top: 0.75rem !important;
      }
    }

    &--discount {
      max-width: 30%;
      flex: 1 1 30%;
    }

    &--price {
      max-width: 65%;
      flex: 1 1 65%;
    }
  }

  &__item {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: 0.75rem;
    &:first-of-type {
      margin-top: 0;
    }

    textarea {
      resize: none;
      @include common-styles();
    }

    select {
      @include common-styles();
    }

    input {
      @include common-styles();

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &[type="number"] {
        -moz-appearance: textfield;
      }
    }

    label {
      max-width: fit-content;
      margin-bottom: 0.5rem;
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .form {
    padding: 1rem;

    &--title {
      font-size: 15px;
    }

    &--error {
      top: 3.5rem;
    }

    &__btn {
      font-size: 12px;
    }

    &__wrapper {
      margin-top: 1rem;

      &--row {
        .form__item {
          margin-top: 0.75rem !important;
        }
      }
    }

    &__item {
      label {
        margin-bottom: 0.25rem;
      }

      input,
      textarea,
      select,
      label {
        font-size: 12px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .form {
    padding: 1rem;
    flex: 1 1 100%;
    max-width: 100%;

    &--title {
      font-size: 15px;
    }

    &--error {
      top: 3.5rem;
    }

    &__btn {
      font-size: 12px;
    }

    &__wrapper {
      margin-top: 1rem;

      &--row {
        .form__item {
          margin-top: 0.75rem !important;
        }
      }
    }

    &__item {
      label {
        margin-bottom: 0.25rem;
      }

      input,
      textarea,
      select,
      label {
        font-size: 12px;
      }
    }
  }
}
