@import "../../styles/vars";

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

.skeleton {
  &__wrapper {
    display: grid;
    grid-template-columns: 64px 1fr 1fr 1fr 1fr 95px;
    column-gap: 1rem;
    padding: 0.5rem;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 0.75rem;

    span {
      background: #eee;
      background: linear-gradient(110deg, #ececec 8%, #f5f5f5 18%, #ececec 33%);
      border-radius: 5px;
      background-size: 200% 100%;
      animation: 1.5s shine linear infinite;
      height: 10px;
      margin: auto;
      width: 100%;
    }
  }

  &--image {
    width: 64px !important;
    height: 64px !important;
  }
}

@media screen and (min-width: $xl) {
  .skeleton {
    &__wrapper {
      grid-template-columns: 100px 1fr 1fr 1fr 1fr 130px;
    }

    &--image {
      width: 80px !important;
      height: 80px !important;
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .skeleton {
    &__wrapper {
      grid-template-columns: 45px 1fr 1fr 1fr 1fr 80px;
    }

    &--image {
      width: 50px !important;
      height: 50px !important;
    }
  }
}

@media screen and (max-width: $md) {
  .skeleton {
    &__wrapper {
      grid-template-columns: 45px 1fr 1fr 1fr 1fr 80px;
    }

    &--image {
      width: 50px !important;
      height: 50px !important;
    }
  }
}
