@import "../../styles/vars";

.header {
  height: 64px;
  box-shadow: 0px 1px 20px #0000000b;
  display: flex;
  padding: 0.5rem 1rem;
  justify-content: space-between;
  align-items: center;

  &--logo {
    cursor: pointer;
  }

  &__profile {
    display: flex;
    align-items: inherit;
    color: $gray-1;
    cursor: pointer;

    img {
      margin-right: 0.75rem;
    }

    span {
      margin-right: 0.5rem;
    }
  }

  &__dropdown {
    border: solid $gray-1;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .header {
    height: 50px;

    &--logo {
      height: 35px;
    }

    &__profile {
      img {
        height: 35px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .header {
    height: 40px;

    &--logo {
      height: 30px;
    }

    &__profile {
      img {
        height: 25px;
      }
    }
  }
}
