@import "../../styles/vars";

.sidebar {
  position: absolute;
  width: 84px;
  left: 0;
  top: 64px;
  bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem 0;
  box-shadow: 0px 1px 20px #0000000a;

  &--item {
    margin-bottom: 2.5rem;
    cursor: pointer;
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .sidebar {
    width: 40px;
    top: 50px;

    &--item {
      margin-bottom: 2rem;
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: $md) {
  .sidebar {
    width: 35px;
    top: 40px;

    &--item {
      margin-bottom: 1rem;
      width: 20px;
      height: 20px;
    }
  }
}
