@import "../../styles/vars";

.search {
  position: relative;
  input {
    background-color: #f3f3f8;
    border: none;
    border-radius: 20px;
    padding: 0 1rem 0 2.25rem;
    height: 35px;
  }

  &--icon {
    position: absolute;
    left: 0.5rem;
    top: 8px;
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .search {
    input {
      height: 25px;
    }

    &--icon {
      top: 5px;
      width: 15px;
      height: 15px;
    }
  }
}
