@import "../../styles/vars";

@mixin arrow-style {
  background-color: $almost-transparent;
  width: 46px;
  height: 46px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;

  span {
    border: solid $gray-2;
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
  }
}

.table {
  margin-top: 1rem;

  &__header {
    display: grid;
    grid-template-columns: 64px 1fr 1fr 1fr 1fr 95px;
    column-gap: 1rem;
    padding: 0 0.5rem;
    margin-bottom: 0.75rem;
    color: $gray-3;

    span {
      font-size: 14px;
    }
  }

  &__data {
    cursor: pointer;
    background-color: #fff;
    border-radius: 5px;
    margin-bottom: 0.75rem;
    display: grid;
    grid-template-columns: 64px 1fr 1fr 1fr 1fr 95px;
    column-gap: 1rem;
    padding: 0.5rem;

    span {
      margin: auto 0;
      color: black;
      font-size: 15px;
    }

    img {
      width: 64px;
      height: 64px;
      object-fit: cover;
    }

    &--blank {
      width: 64px;
      height: 64px;
      background-color: $gray-2;
    }
  }

  &__pagination {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    &--status {
      font-size: 14px;
      margin-right: 1rem;
    }

    &--back {
      @include arrow-style();

      span {
        transform: rotate(135deg);
        -webkit-transform: rotate(135deg);
      }
    }

    &--next {
      @include arrow-style();
      margin-left: 2rem;

      span {
        transform: rotate(-45deg);
        -webkit-transform: rotate(-45deg);
      }
    }
  }
}

@media screen and (min-width: $xl) {
  .table {
    &__header {
      grid-template-columns: 100px 1fr 1fr 1fr 1fr 130px;
      span {
        font-size: 18px;
      }
    }

    &__data {
      grid-template-columns: 100px 1fr 1fr 1fr 1fr 130px;
      span {
        font-size: 16px;
      }

      img {
        width: 80px;
        height: 80px;
      }

      &--blank {
        width: 80px;
        height: 80px;
      }
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .table {
    &__header {
      grid-template-columns: 45px 1fr 1fr 1fr 1fr 80px;
      span {
        font-size: 10px;
      }
    }

    &__data {
      grid-template-columns: 45px 1fr 1fr 1fr 1fr 80px;
      span {
        font-size: 10px;
      }

      img {
        width: 50px;
        height: 50px;
      }

      &--blank {
        width: 50px;
        height: 50px;
      }
    }

    &__pagination {
      &--status {
        font-size: 12px;
      }

      &--back {
        width: 35px;
        height: 35px;
      }

      &--next {
        width: 35px;
        height: 35px;
        margin-left: 1rem;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .table {
    &__header {
      grid-template-columns: 45px 1fr 1fr 1fr 1fr 80px;
      span {
        font-size: 10px;
      }
    }

    &__data {
      grid-template-columns: 45px 1fr 1fr 1fr 1fr 80px;
      span {
        font-size: 10px;
      }

      img {
        width: 50px;
        height: 50px;
      }

      &--blank {
        width: 50px;
        height: 50px;
      }
    }

    &__pagination {
      &--status {
        font-size: 12px;
      }

      &--back {
        width: 35px;
        height: 35px;
      }

      &--next {
        width: 35px;
        height: 35px;
        margin-left: 1rem;
      }
    }
  }
}
