@import "../../styles/vars";

.products {
  display: flex;
  justify-content: space-between;

  &__list {
    flex: 1 1 53%;
    max-width: 53%;
    &--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &--title {
      font-size: 20px;
      font-weight: bold;
      color: $gray-2;
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .products {
    &__list {
      &--title {
        font-size: 15px;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .products {
    flex-direction: column;
    &__list {
      flex: 1 1 100%;
      max-width: 100%;
      margin-top: 1.5rem;
      &--title {
        font-size: 12px;
      }
    }
  }
}
