@import "../styles/vars";

.layout {
  position: relative;
  height: inherit;

  &__content {
    &--wrapper {
      overflow-x: hidden;
      overflow-y: auto;
      position: absolute;
      left: 84px;
      right: 0;
      bottom: 0;
      top: 64px;
      padding: 1.5rem;
      padding-bottom: 0.5rem;
      background-color: $gray;
    }
  }
}

@media screen and (min-width: $md) and (max-width: $lg) {
  .layout {
    &__content {
      &--wrapper {
        left: 40px;
        top: 50px;
        padding: 0.5rem;
      }
    }
  }
}

@media screen and (max-width: $md) {
  .layout {
    &__content {
      &--wrapper {
        left: 35px;
        top: 40px;
        padding: 1rem;
      }
    }
  }
}
